In [1]:
import pandas as pd

In [2]:
#Loading datasets
customers = pd.read_csv("customers.csv", sep = ',', low_memory = False)
companies = pd.read_csv("companies.csv", sep = ',', low_memory = False)

In [3]:
#Join between cutomers and companies
df_inner = pd.merge(customers, companies, on='cpf', how='inner')
df_inner.head()

,customer_id,first_name,last_name,birth_year,city_id,country_name,cpf,id,created_at,cnpj,full_name,name,email_address
0,1000,Joao,Melo,1952,1,BRAZIL,9571295051,15,6/11/2019,85633121000123,Joao de Melo,Kash n' Karry,kash_nkarry0102@hotmail.com
1,1001,Julio,Manoel,1980,9,BRAZIL,12066738000,39,3/14/2019,47260965000187,Julio Cesar Manoel,Manoel salgados,manoel_salgados@hotmail.com
2,1002,Patricia,Jesutto,1987,3,BRAZIL,12815491001,26,7/9/2019,58143458000180,Patricia Jesutto,Grade A Investment,grade_investiment_a@uol.com.br
3,1003,Maria,Lima,1967,8,BRAZIL,13458382046,19,1/22/2019,35737433000109,Maria Lourdes Lima,Vinyl Fever,vinyl_fever@gmail.com
4,1004,Raquel,Mantts,1956,8,BRAZIL,13540909001,50,11/7/2019,71192372000105,Raquel da Silva Mantts,Keeney's,keeney@gmail.com

In [6]:
#Companies that are going to receive the invite
invite = df_inner[['cnpj', 'name', 'email_address']].groupby(['cnpj', 'name', 'email_address']).last()
invite = invite.sort_values(by=['cnpj']).reset_index()
invite.head()

             cnpj              name                           email_address
0  11737276000173       Mauricio TI           ti_mauricio@timauricio.com.br
1  15060128000118   Friendly Advice                       fadvice@gmail.com
2  17667288000155      Bettendorf's         betterndors_magalhaes@ig.com.br
3  17941630000163  Patricio cabelos  patriciocabelos@cabelospatricio.com.br
4  18329205000180              mica                          mica@gmail.com

In [5]:
invite.to_csv('companies_invites.csv')